## task 1.1

### Install Jupyter notebook and run the first program and share the screenshot of the output.

In [37]:
print("hellow world ")

hellow world

In [38]:
print(2+3)

5

In [39]:
x=5;y=10;z=50
add=x+y+z
print(add)

65

# task-1.2

#### Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line

In [3]:
for x in range(2000,3201):
    if x%7==0:
        if x%5!=0:
            print(x,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
nl=[]
for x in range(2000, 3201):
    if (x%7==0) and (x%5 !=0):
        nl.append(str(x))
print (','.join(nl))

In [4]:
s=[x for x in range(2000,3201) if (x%7==0) and (x%5!=0)]
for x in s:
    print(x,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [5]:
s=[x for x in range(2000,3201) if (x%7==0) and (x%5!=0)]
print(s)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# task-1.3

### Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name

In [40]:
x=input("enter frist name :-")
y=input("enter last name:-")

enter frist name :-gopala
enter last name:-krishna

In [41]:
print("{} {}".format(x[::-1],y[::-1]))

alapog anhsirk

In [42]:
x=input("enter frist name :-")
y=input("enter last name:-")

enter frist name :-gopala
enter last name:-krishna

In [43]:
print(x[::-1]+" "+y[::-1])

alapog anhsirk

# # task-1.4

#  Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula:
      V=4/3 * Ï€ * r 3

In [44]:
def volume(diameter):
    import numpy as np
    r=(diameter/2)
    V=((4/3)*np.pi* r**3)
    return V

In [45]:
print(volume(12))

904.7786842338603

In [46]:
print(volume(30))

14137.166941154068

In [48]:
def volume2(diameter):
    from math import pi
    r=(diameter/2)
    V=((4/3)*pi*r**3)
    return V

In [49]:
print(volume2(12))

904.7786842338603

In [50]:
print(volume2(30))

14137.166941154068

# # task-2.1

### Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [55]:
mylist=[]

In [56]:
while True:
    x=eval(input("enetr number:-"))
    mylist.append(x)
    option=input("are you want qiut your entry if numbers:-")
    if option=="yes":
        break

enetr number:-1
are you want qiut your entry if numbers:-n
enetr number:-2
are you want qiut your entry if numbers:-n
enetr number:-3
are you want qiut your entry if numbers:-n
enetr number:-4
are you want qiut your entry if numbers:-n
enetr number:-5
are you want qiut your entry if numbers:-n
enetr number:-6
are you want qiut your entry if numbers:-n
enetr number:-11111
are you want qiut your entry if numbers:-yes

In [57]:
print(mylist)

[1, 2, 3, 4, 5, 6, 11111]

In [9]:
mylist2=[]

In [10]:
n=int(input("how many numbers you want to adding to my list:---"))

how many numbers you want to adding to my list:---6

In [11]:
while True:
    x=eval(input("enter number you want to addin into list:--"))
    mylist2.append(x)
    if len(mylist2)==n:
        break

enter number you want to addin into list:--12
enter number you want to addin into list:--13
enter number you want to addin into list:--14
enter number you want to addin into list:--15
enter number you want to addin into list:--16
enter number you want to addin into list:--17

In [12]:
print(mylist2)

[12, 13, 14, 15, 16, 17]

In [1]:
mylist3=[]

In [2]:
def adding_to_list(x):
    mylist3.append(x)
    return print(mylist3)

In [9]:
adding_to_list(eval(input("enetr number:-")))

enetr number:-47372
[2, 34, 35, 437754, 0, 32, 47372]

# # task-2.2

# Create the below pattern using nested for loop in Python
                        *  
                        * * 
                        * * *  
                        * * * *  
                        * * * * *  
                        * * * *  
                        * * * 
                        * * 
                        *

In [10]:
n=5;
# TOP Pattern
for i in range(0,n):
    for j in range(0,i):
        print ('* ', end="")
    print('')
    
# Bottom pattern
for i in range(n,0,-1):
    for j in range(0,i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# # task-2.3

# Write a Python program to reverse a word after accepting the input from the user.
Sample Output: 
Input word: AcadGild 
Output: dilGdacA

In [12]:
x=input("eneter a word:-")
print(x[::-1])

eneter a word:-AcadGild
 dliGdacA

# # task-2.4

# Write a Python Program to print the given string in the format specified in the 
â€‹sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens 
Sample Output: 

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
             SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
             and to secure to all its citizens

In [35]:
print("{}\n\t{}\n\t\t{}\n\t\t{}".format(("WE, THE PEOPLE OF INDIA,"),
                              ("having solemnly resolved to constitute India into a SOVEREIGN, !"),
                              ("SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC"),
                                ("and to secure to all its citizens")))

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens